@charset "UTF-8";

body{
    height: 100vh;
    background-size: cover;
    background: black url('../imagens/wallpaper002.jpg') center center no-repeat fixed;
}

main{
    background-color: white;
    max-width: 700px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}